<h2>Seo Title management</h2>

<h3>item fields</h3>
<table
        id="{{tableId}}"
        class="table table-bordered table-hover table-sortable admin-list"
        data-sortabledrop="admin.saveSorting('{{tableId}}')"
        data-ajaxurl="{{BASE_URI}}admin/core/admindatagroup/saveseotitlesorting/{{id}}"
>
    {{#rows}}
        <tr
                id="{{fieldId}}"
                class="{{rowState}}"
        >
            <td>
                <i class="fa fa-sort"></i>
                {{name}}
            </td>
            <td align="right">
                {{#buttons}}
                    <a
                        {{#rowId}}
                        id="{{rowId}}"
                        {{/rowId}}
                        href="{{baseLink}}/{{action}}/{{id}}&key={{key}}"
                    class="{{icon}}"
                    title="{{text}}"
                    ></a>
                {{/buttons}}
            </td>
        </tr>
    {{/rows}}
</table>

<h3>pending categories</h3>
<table
        id="seotitleCategory_{{tableId}}"
        class="table table-bordered table-hover admin-list"
        data-ajaxurl="{{BASE_URI}}admin/core/admindatagroup/savecategorieseotitlesorting/{{id}}"
>
    {{#categories}}
        <tr
                id="{{fieldId}}"
                class="{{rowState}}"
        >
            <td>
                {{name}}
            </td>
            <td align="right">
                {{#buttons}}
                    <a
                        {{#rowId}}
                        id="{{rowId}}"
                        {{/rowId}}
                        href="{{baseLink}}/{{action}}/{{id}}&key={{key}}"
                    class="{{icon}}"
                    title="{{text}}"
                    ></a>
                {{/buttons}}
            </td>
        </tr>
    {{/categories}}
</table>
